/* Main */
main {
    height: auto;
}

.main-wrapper {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

/* Aside */
.main-wrapper aside h2 {
    text-transform: uppercase;
    color: #697cae;
    margin: 15px 0px;
}

.main-wrapper aside form {
    display: flex;
    flex-direction: column;
}

.main-wrapper aside form select, .main-wrapper aside form input[type="date"] {
    width: 300px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    margin: 7px auto;
    border-radius: 5px;
    border: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    color: #404040;
    background-color: #efefef;
}

.main-wrapper aside form input[type="date"] {
    padding: 0px 20px;
}

.main-wrapper aside form select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../img/arrow-down-solid.svg);
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: 255px center;
}

.main-wrapper aside form input[type="submit"] {
    width: 300px;
    height: 40px;
    margin: 7px auto;
    background-color: #697cae;
    color: white;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Price range slider */
.price-input{
    width: 300px;
    display: flex;
    margin: 15px auto;
}
.price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}

.price-input .field span {
    width: 100%;
}

.field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
    color: #404040;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}
.slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    margin: 5px auto;
    width: 300px;
}
.slider .progress{
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #a83d78;
}
.range-input{
    position: relative;
    margin: 5px auto;
    bottom: 10px;
    width: 300px;
}
.range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #697cae;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

/* Search Results */
section.search-results {
    width: 850px;
}

section.search-results > h2 {
    background-color: #697cae;
    color: white;
    padding: 10px 0px 10px 10px;
}

section.search-results article {
    margin: 40px 0px;
}

section.search-results article img {
    width: 150px;
    height: 130px;
}

.article-description {
    display: flex;
}

.article-description img + div {
    margin-left: 20px;
    border-left: 2px solid #697cae;
    padding-left: 15px;
    position: relative;
}

.article-description img + div h2 {
    line-height: 20px;
}

.article-description img + div h2 span {
    color: grey;
    font-size: 15px;
}

.article-description img + div p {
    margin: 10px 0px;
}

.article-description img + div a {
    position: absolute;
    right: 0px;
    width: 180px;
    background-color: #697cae;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    font-weight: bold;
}

.article-details {
    display: flex;
    margin: 30px 0px;
}

.article-details div:nth-child(1) {
    background-color: #757575;
    color: white;
    padding: 10px 5px;
    width: 150px;
}

.article-details div:nth-child(1) p {
    text-align: center;
}

.article-details div:nth-child(2) {
    display: flex;
    background-color: #eeeeee;
    color: black;
    padding: 10px 5px;
    margin-left: 10px;
}

.article-details div:nth-child(2) p {
    width: 350px;
    text-align: center;
}

.article-details div:nth-child(2) p:nth-child(1) {
    border-right: 1px solid black;
}

section.search-results hr {
    border-top: 1px dotted black;
}

