@media only screen and (max-width: 1200px) {

    /* Header */
    header nav {
        max-width: 1024px;
    }

    /* LIST PAGE */
    main.list-page .main-wrapper {
        max-width: 1024px;
    }

    main.list-page section.search-results {
        width: 675px;
    }

    main.list-page .article-details div:nth-child(2) p {
        width: 275px;
    }

    main.list-page .article-details div:nth-child(2) {
        align-items: center;
    }

    main.list-page .article-details {
        margin: 50px 0px;
    }
    /* LIST PAGE */

    /* ROOM PAGE */
    main.room-page .room-page-wrapper {
        max-width: 1024px;
    }
    /* ROOM PAGE */

    /* PROFILE PAGE */
    main.profile-page .main-wrapper {
        max-width: 1024px;
    }

    main.profile-page section.search-results {
        width: 675px;
    }

    main.profile-page .article-details div:nth-child(2) p {
        width: 275px;
    }

    main.profile-page .article-details div:nth-child(2) {
        align-items: center;
    }

    main.profile-page .article-details {
        margin: 50px 0px;
    }
    /* PROFILE PAGE */

}

@media only screen and (max-width: 1024px) {

    /* Header */
    header nav {
        max-width: 768px;
    }

    /* Hambuger Menu */

    .nav {
        width: unset;
    }

    .header-wrapper {
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    header .nav ul {
        position: fixed;
        left: -100%;
        display: block;
        top: 80px;
        flex-direction: column;
        background-color: rgba(27,27,27,0.98);
        width: 50%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.85);
    }

    header .nav ul.active {
        left: 0;
        height: 100%;
    }

    header .nav ul li {
        margin: 3.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        left: 40px;
        top: 30px;
    }

    header .nav ul li a {
        color: white;
        font-size: 22px;
        justify-content: center;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    header .nav ul.active .fa-instagram:before, header .nav ul.active .fa-facebook-f:before {
        font-size: 35px;
        margin: 0px 10px;
    }

    /* Hambuger Menu */

    /* LIST PAGE */
    main.list-page .main-wrapper {
        max-width: 768px;
    }

    main.list-page .main-wrapper aside h2 {
        font-size: 20px;
        text-align: center;
    }

    main.list-page .main-wrapper aside form select {
        background-position: 205px center;
    }

    main.list-page .price-input {
        flex-direction: column;
    }

    main.list-page .main-wrapper aside form select, main.list-page .main-wrapper aside form input[type="date"], main.list-page .price-input, main.list-page .slider, main.list-page .range-input, main.list-page .main-wrapper aside form input[type="submit"] {
        width: 235px;
    }

    main.list-page section.search-results {
        width: 485px;
    }

    main.list-page .article-details div:nth-child(2) p {
        width: 175px;
    }

    main.list-page .article-description {
        align-items: center;
    }
    /* LIST PAGE */

    /* ROOM PAGE */
    main.room-page .room-page-wrapper {
        max-width: 768px;
    }
    /* ROOM PAGE */

    /* PROFILE PAGE */
    main.profile-page .main-wrapper {
        max-width: 768px;
    }

    main.profile-page .main-wrapper aside h2 {
        font-size: 20px;
        text-align: center;
    }

    main.profile-page .main-wrapper aside form select {
        background-position: 205px center;
    }

    main.profile-page .price-input {
        flex-direction: column;
    }

    main.profile-page .main-wrapper aside form select, main.profile-pag .main-wrapper aside form input[type="date"], main.profile-page .price-input, main.profile-page .slider, main.profile-page .range-input, main.profile-page .main-wrapper aside form input[type="submit"] {
        width: 235px;
    }

    main.profile-page section.search-results {
        width: 485px;
    }

    main.profile-page .article-details div:nth-child(2) p {
        width: 175px;
    }

    main.profile-page .article-description {
        align-items: center;
    }

    main.profile-page aside {
        width: 265px;
    }
    /* PROFILE PAGE */

}

@media only screen and (max-width: 768px) { 

    /* Hambuger Menu */
    header .nav ul {
        width: 60%;
    }
    /* Hambuger Menu */

    /* LIST PAGE */
    main.list-page .main-wrapper {
        max-width: 600px;
    }

    main.list-page .main-wrapper aside h2 {
        font-size: 16px;
    }

    main.list-page .main-wrapper aside form select {
        background-position: 115px center;
    }

    main.list-page .main-wrapper aside form select, main.list-page .main-wrapper aside form input[type="date"], main.list-page .price-input, main.list-page .slider, main.list-page .range-input, main.list-page .main-wrapper aside form input[type="submit"] {
        width: 135px;
        font-size: 12px;
    }

    main.list-page .main-wrapper aside form select, main.list-page .main-wrapper aside form input[type="date"], main.list-page .main-wrapper aside form input[type="submit"] {
        height: 45px;
    }

    main.list-page .price-input {
        height: 80px;
    }

    main.list-page .field input {
        font-size: 12px;
    }

    main.list-page .article-description img + div h2 {
        font-size: 20px;
    }

    main.list-page .article-description img + div p {
        font-size: 15px;
    }

    main.list-page .article-details div:nth-child(1) {
        width: 85px;
    }

    main.list-page .article-details div:nth-child(2) p {
        width: 155px;
    }

    main.list-page section.search-results article {
        margin: 20px 0px;
    }

    main.list-page .article-details {
        font-size: 13px;
    }

    main.list-page .article-description img + div a {
        right: 15px;
        width: 150px;
        font-size: 15px;
    }
    /* LIST PAGE */

    /* ROOM PAGE */
    main.room-page .room-page-wrapper {
        max-width: 600px;
    }

    main.room-page .room-title-container .room-title, main.room-page .room-title-container .room-price {
        font-size: 13px;
        display: flex;
        align-items: center;
    }

    main.room-page .room-info-container {
        font-size: 13px;
    }
    /* ROOM PAGE */

    /* PROFILE */
    main.profile-page .main-wrapper {
        max-width: 600px;
    }

    main.profile-page .main-wrapper aside h2 {
        font-size: 16px;
    }

    main.profile-page .main-wrapper aside form select {
        background-position: 115px center;
    }

    main.profile-page .main-wrapper aside form select, .main-wrapper aside form input[type="date"], main.list-page .price-input, main.list-page .slider, main.list-page .range-input, main.list-page .main-wrapper aside form input[type="submit"] {
        width: 135px;
        font-size: 12px;
    }

    main.profile-page .main-wrapper aside form select, .main-wrapper aside form input[type="date"], main.list-page .main-wrapper aside form input[type="submit"] {
        height: 45px;
    }

    main.liprofilest-page .price-input {
        height: 80px;
    }

    main.profile-page .field input {
        font-size: 12px;
    }

    main.profile-page .article-description img + div h2 {
        font-size: 20px;
    }

    main.profile-page .article-description img + div p {
        font-size: 15px;
    }

    main.profile-page .article-details div:nth-child(1) {
        width: 85px;
    }

    main.profile-page .article-details div:nth-child(2) p {
        width: 155px;
    }

    main.profile-page section.search-results article {
        margin: 20px 0px;
    }

    main.profile-page .article-details {
        font-size: 13px;
    }

    main.profile-page .article-description img + div a {
        right: 15px;
        width: 150px;
        font-size: 15px;
    }

    main.profile-page section.search-results {
        width: 405px;
    }
    /* PROFILE */
}


@media only screen and (max-width: 600px) { 

    /* Hambuger Menu */
    header .nav ul {
        width: 70%;
    }

    header .nav ul li a {
        font-size: 20px;
    }
    /* Hambuger Menu */

    /* HOME PAGE */
    section.main-section {
        max-width: 480px;
    }
    /* HOME PAGE */

    /* LOGIN PAGE */
    main.login-page .overlay {
        width: 480px;
    }
    /* LOGIN PAGE */

    /* REGISTER PAGE */
    main.register-page .overlay {
        width: 480px;
    }
    /* REGISTER PAGE */

    /* LIST PAGE */
    main.list-page .main-wrapper {
        flex-direction: column;
    }

    main.list-page .main-wrapper aside h2 {
        font-size: 25px;
    }

    main.list-page .main-wrapper aside form select, main.list-page .main-wrapper aside form input[type="date"], main.list-page .price-input, main.list-page .slider, main.list-page .range-input, main.list-page .main-wrapper aside form input[type="submit"] {
        width: 250px;
        font-size: 15px;
    }

    main.list-page .main-wrapper aside form select {
        background-position: 200px center;
    }

    main.list-page aside {
        margin-bottom: 30px;
    }

    main.list-page section.search-results {
        width: 460px;
        margin: 0 auto;
    }

    main.list-page .article-details div:nth-child(2) {
        padding: 10px 22px;
        margin-left: 20px;
    }

    main.list-page .article-description img + div a {
        right: 0px;
        left: 0px;
        margin: 0 auto;
    }

    main.list-page .article-description {
        flex-direction: column;
    }

    main.list-page .article-description img + div {
        margin: 15px 0px;
    }

    main.list-page section.search-results article img {
        width: 100%;
        height: auto;
    }
    /* LIST PAGE */

    /* ROOM PAGE */
    main.room-page .room-page-wrapper {
        max-width: 480px;
    }

    main.room-page .room-title-container .room-title p:nth-child(1) {
        width: unset;
    }

    main.room-page .room-title-container .room-title, main.room-page .room-title-container
    {
        flex-direction: column;
        align-items: center;
    }

    main.room-page .room-title-container .room-title, main.room-page .room-title-container .room-price {
        font-size: 16px;
    }

    main.room-page .room-page-wrapper img {
        width: 145px;
        height: 27px;
    }

    .star
    .stararea {
        width: 29px;
        height: 54px;
        font-size: 2em;
    }

    main.room-page section.reviews .review div:nth-of-type(2) {
        position: unset;
    }

    main.room-page section.reviews .review {
        align-items: center;
    }

    main.room-page .btn-danger
    {
        margin: 20px 0px;
    }

    main.room-page iframe {
        height: auto;
    }
    /* ROOM PAGE */

    /* PROFILE */
    main.profile-page .main-wrapper {
        flex-direction: column;
    }

    main.profile-page .main-wrapper aside h2 {
        font-size: 25px;
    }

    main.profile-page .main-wrapper aside form select, main.profile-page .main-wrapper aside form input[type="date"], main.profile-page .price-input, main.profile-page .slider, main.profile-page .range-input, main.profile-page .main-wrapper aside form input[type="submit"] {
        width: 250px;
        font-size: 15px;
    }

    main.profile-page .main-wrapper aside form select {
        background-position: 200px center;
    }

    main.profile-page aside {
        margin-bottom: 30px;
    }

    main.profile-page section.search-results {
        width: 460px;
        margin: 0 auto;
    }

    main.profile-page .article-details div:nth-child(2) {
        padding: 10px 22px;
        margin-left: 20px;
    }

    main.profile-page .article-description img + div a {
        right: 0px;
        left: 0px;
        margin: 0 auto;
    }

    main.profile-page .article-description {
        flex-direction: column;
    }

    main.profile-page .article-description img + div {
        margin: 15px 0px;
    }

    main.profile-page section.search-results article img {
        width: 100%;
        height: auto;
    }

    main.profile-page aside {
        width: 460px;
        margin: 0 auto;
        height: 300px;
    }

    main.profile-page .main-wrapper {
        margin: 0px auto;
    }
    /* PROFILE */
}

@media only screen and (max-width: 480px) { 

    .logo {
        width: 35px;
        height: auto;
        margin-right: 15px;
    }

    /* Hambuger Menu */
    .hamburger {
        left: 20px;
    }

    header .nav ul {
        width: 80%;
    }

    header .nav ul li a {
        font-size: 17px;
    }
    /* Hambuger Menu */

    .footer-wrapper .logo {
        width: 25px;
    }

    .footer-wrapper p {
        font-size: 14px;
    }

    /* HOME PAGE */
    section.main-section {
        max-width: 320px;
    }

    section.main-section form select, section.main-section form input[type="date"] {
        width: 135px;
        height: 50px;
        font-size: 13px;
    }

    section.main-section form input[type="button"] {
        height: 35px;
        font-size: 14px;
    }

    section.main-section form {
        height: 230px;
    }

    section.main-section form select {
        background-size: 10px;
        background-position: 113px center;
    }
    /* HOME PAGE */

    /* LOGIN PAGE */
    main.login-page .overlay {
        width: 320px;
    }

    main.login-page .overlay form input {
        width: 250px;
    }

    main.login-page .overlay button[type="submit"] {
        width: 250px;
    }
    /* LOGIN PAGE */

    /* REGISTER PAGE */
    main.register-page .overlay {
        width: 320px;
    }

    main.register-page .overlay form input {
        width: 250px;
    }

    main.register-page .overlay button[type="submit"] {
        width: 250px;
    }

    main.register-page .checkbox-container {
        width: 265px;
    }

    main.register-page .checkbox-container label {
        font-size: 13px;
    }
    /* REGISTER PAGE */

    /* LIST PAGE */
    main.list-page .main-wrapper aside h2 {
        font-size: 22px;
    }

    main.list-page .main-wrapper aside form select, main.list-page .main-wrapper aside form input[type="date"], main.list-page .price-input, main.list-page .slider, main.list-page .range-input, main.list-page .main-wrapper aside form input[type="submit"] {
        width: 250px;
        font-size: 15px;
    }

    main.list-page .main-wrapper aside form select {
        background-position: 200px center;
    }

    main.list-page aside {
        margin-bottom: 30px;
    }

    main.list-page section.search-results {
        width: 95%;
        margin: 0 auto;
    }

    main.list-page .article-details div:nth-child(2) p {
        width: 100%;
    }

    main.list-page .article-details div:nth-child(2) {
        padding: 10px 15px;
        margin-left: 0px;
    }

    main.list-page .article-details div:nth-child(1) {
        width: 105px;
        display: flex;
        align-items: center;
    }
    /* LIST PAGE */

    /* ROOM PAGE */
    main.room-page .room-page-wrapper {
        max-width: 90%;
    }

    main.room-page .room-title-container .room-title, main.room-page .room-title-container .room-price {
        font-size: 13px;
    }

    main.room-page .room-info-container {
        font-size: 11px;
    }

    main.room-page section.reviews .review div p:nth-of-type(2) {
        font-size: 15px;
    }

    main.room-page .room-description h2 {
        font-size: 25px;
        margin: 20px 0px;
    }

    main.room-page .room-description p {
        font-size: 15px;
    }
    /* ROOM PAGE */

    /* PROFILE */
    main.profile-page .main-wrapper aside h2 {
        font-size: 22px;
    }

    main.profile-page .main-wrapper aside form select, main.profile-page .main-wrapper aside form input[type="date"], main.list-page .price-input, main.list-page .slider, main.list-page .range-input, main.list-page .main-wrapper aside form input[type="submit"] {
        width: 250px;
        font-size: 15px;
    }

    main.profile-page .main-wrapper aside form select {
        background-position: 200px center;
    }

    main.profile-page aside {
        margin-bottom: 30px;
    }

    main.profile-page section.search-results {
        width: 95%;
        margin: 0 auto;
    }

    main.profile-page .article-details div:nth-child(2) p {
        width: 100%;
    }

    main.profile-page .article-details div:nth-child(2) {
        padding: 10px 15px;
        margin-left: 0px;
    }

    main.profile-page .article-details div:nth-child(1) {
        width: 105px;
        display: flex;
        align-items: center;
    }

    main.profile-page aside {
        width: 95%;
    }
    /* PROFILE */
}